.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 150px;
    top: 10%;
    left: 15%;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
        margin: 0px;
    }
}
  