html {
  scroll-behavior: smooth;
}

section {
  padding: 40px;
}

div.section-content {
  padding: 10px;
  padding-left: 12%;
}

section#about {
  background-color: #F4FEFF;
}

section#contact {
  background-color: #fce7cd;
}

section#work {
  background-color: #d1b1a0;
}

section#read {
  background-color: #ffffff;
}

section#projects {
  background-color: #C1DADA;
}

@media only screen and (max-width: 600px) {
  div.section-content {
    padding: unset;
  }
}